{
  "cacheTimeout": null,
  "colorBackground": true,
  "colorValue": false,
  "colors": [
    "#299c46",
    "rgba(237, 129, 40, 0.89)",
    "#d44a3a"
  ],
  "datasource": "CMS Grafana Service",
  "format": "none",
  "gauge": {
    "maxValue": 100,
    "minValue": 0,
    "show": false,
    "thresholdLabels": false,
    "thresholdMarkers": true
  },
  "gridPos": {
    "h": {{ h }},
    "w": {{ w }},
    "x": {{ x }},
    "y": {{ y }}
  },
  "id": {{ id }},
  "interval": null,
  "links": [],
  "mappingType": 1,
  "mappingTypes": [
    {
      "name": "value to text",
      "value": 1
    },
    {
      "name": "range to text",
      "value": 2
    }
  ],
  "maxDataPoints": 100,
  "nullPointMode": "connected",
  "nullText": null,
  "options": {},
  "postfix": "",
  "postfixFontSize": "50%",
  "prefix": "",
  "prefixFontSize": "50%",
  "rangeMaps": [
    {
      "from": "null",
      "text": "N/A",
      "to": "null"
    }
  ],
  "sparkline": {
    "fillColor": "rgba(31, 118, 189, 0.18)",
    "full": false,
    "lineColor": "rgb(31, 120, 193)",
    "show": true,
    "ymax": null,
    "ymin": null
  },
  "tableColumn": "",
  "targets": [
    {
      "describe": "",
      "dimensions": [
            "{{ LoadBalancerId }}"
      ],
      "group": "",
      "metric": "{{ metric }}",
      "period": "300",
      "project": "{{ project }}",
      "refId": null,
      "target": [
        "Average"
      ],
      "type": "timeserie",
      "xcol": "timestamp",
      "ycol": [
        "Average"
      ]
    }
  ],
  "thresholds": "{{ thresholds }}",
  "timeFrom": null,
  "timeShift": null,
  "title": "{{ name }}",
  "type": "singlestat",
  "valueFontSize": "80%",
  "valueMaps": [
    {
      "op": "=",
      "text": "N/A",
      "value": "null"
    }
  ],
  "valueName": "avg"
}