{
  "describe": "{{ name }}",
  "dimensions": [
    "{{ id }}"
  ],
  "group": "",
  "metric": "{{ metric }}",
  "period": "{{ period }}",
  "project": "{{ project }}",
  "refId": null,
  "target": [
    "Average"
  ],
  "type": "timeserie",
  "xcol": "timestamp",
  "ycol": [
    "{{ ycol }}"
  ]
}